<%- include("./partials/header"); %>
	<!-- start banner Area -->
	<div class="banner-content mt-4" style="margin-bottom: 100px;">
		<div class="row">
			<div class="col-md-6 col-12">
				<img src="/assets/images/web/home.jfif" class="img-fluid" style="border-radius: 20px;"> <br /> <br />
			</div>
			<div class="col-md-6 col-12">
				<h2 class="mt-4">Quem somos</h2>
				<p>Somos uma empresa referência no mercado de Lojas do 1 Real, um projeto super novo que já nasceu sendo
					sucesso!
					Hoje somos cerca de 35 Lojas físicas espalhadas pela cidade do Rio, Angra dos Reis, Macaé e Campos
					dos
					Goytacazes.
					Todos trabalhando juntos para te oferecer uma experiência de compra justa, com preço baixo e
					qualidade.</p> <br />
					
				<h2>Seja um franqueado</h2>
				<p>A nossa franquia sem dúvidas é um grande investimento pra quem deseja
					começar o ano investindo no seu próprio negócio. <br />
					Não perca tempo, <a href="/beapartner">Clique aqui e seja um de nós!</a>
				</p>
			</div>
		</div>	
	</div>
	<!-- End banner Area -->
	<%- include("./partials/footer"); %>