</div>
</div>
</div>
<!-- start footer Area -->
<footer class="footer-area " style="background-color: #f2d734;">
	<div class="container">
		<div class="row">
			<div class="col-lg-4  col-md-4 col-sm-4">
				<div class="single-footer-widget">
					<h3 style="color: white;">Entre em contato</h3>
					<p>Email: grupomegareal@gmail.com</p>
					<p>Fale conosco: +55 21 97314-6113</p>
				</div>
			</div>
			<div class="col-lg-4  col-md-4 col-sm-4">
				<div class="single-footer-widget">
					<h3 style="color: white;">Links</h3>
					<a href="/" style="color: gray; text-decoration: none;">Inicio</a> <br />
					<a href="/login" style="color: gray; text-decoration: none;">Login</a> <br />
					<a href="/delivery" style="color: gray; text-decoration: none;">Delivery</a> <br />
					<a href="/beapartner" style="color: gray; text-decoration: none;">Seja um franqueado</a> <br />
				</div>
			</div>
			<div class="col-lg-4  col-md-4 col-sm-4">
				<div class="single-footer-widget mail-chimp">
					<h6 class="mb-20">Redes sociais</h6>
					<ul class="instafeed d-flex flex-wrap">
						<li><a href="https://www.instagram.com/megaloja1real.oficial/?utm_medium" target="_blank"
								style="color: gray; text-decoration: none;">Instagram</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
			<p class="footer-text m-0">
			<p>Todos os direitos reservados, loja do real 2021 &copy; </p>
			<p>criado e desenvolvido por: <a style="text-decoration: none; color: #000;" href="https://www.instagram.com/ew_digital_solutions/" target="_blank">EW
					Digital Solutions</a></p>
			</p>
		</div>
	</div>
</footer>
<!-- End footer Area -->

<script src="/views/client/js/jquery.mask.min.js"></script>
<script src="/views/client/js/vendor/bootstrap.min.js"></script>
</body>

</html>