
  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2021 <a href="/">Loja do 1 Real</a>.</strong>
    Todos os direitos reservados!
    <div class="float-right d-none d-sm-inline-block">
      <b>Versão</b> 1.1.0
    </div>
  </footer>
<!-- ./wrapper -->


<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="/views/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/views/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="/views/admin/dist/js/adminlte.js"></script>

<!-- DataTables  & Plugins -->
<script src="/views/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/views/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
      });
      
    });
  </script>

  
<!-- bs-custom-file-input -->
<script src="/views/admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- bs-custom-file script -->
<script>
  $(function () {
    bsCustomFileInput.init();
  });
</script>

<script>
  let url = document.URL;
  url = url.replace("http://localhost:8090", "");
  if (url == '/partner/home'){
    document.getElementById('pag=/home').style = 'background-color: #007BFF';
  }
  if (url == '/partner/orders/all'){
    document.getElementById('pag=/orders').style = 'background-color: #007BFF';
    document.getElementById('pag=/ordersopened').style = 'background-color: #007Baa';
    document.getElementById('ulorders').classList.add("menu-open");
  }
  if (url == '/partner/orders/0'){
    document.getElementById('pag=/orders').style = 'background-color: #007BFF';
    document.getElementById('pag=/orderswaiting').style = 'background-color: #007Baa';
    document.getElementById('ulorders').classList.add("menu-open");
  }
  if (url == '/partner/orders/1'){
    document.getElementById('pag=/orders').style = 'background-color: #007BFF';
    document.getElementById('pag=/ordersaccepted').style = 'background-color: #007Baa';
    document.getElementById('ulorders').classList.add("menu-open");
  }
  if (url == '/partner/orders/2'){
    document.getElementById('pag=/orders').style = 'background-color: #007BFF';
    document.getElementById('pag=/ordersindelivery').style = 'background-color: #007Baa';
    document.getElementById('ulorders').classList.add("menu-open");
  }
  if (url == '/partner/orders/3'){
    document.getElementById('pag=/orders').style = 'background-color: #007BFF';
    document.getElementById('pag=/ordersfinished').style = 'background-color: #007Baa';
    document.getElementById('ulorders').classList.add("menu-open");
  }
  if (url == '/partner/orders/4'){
    document.getElementById('pag=/orders').style = 'background-color: #007BFF';
    document.getElementById('pag=/ordersconfirmed').style = 'background-color: #007Baa';
    document.getElementById('ulorders').classList.add("menu-open");
  }
  if (url == '/partner/config/changepassword'){
    document.getElementById('pag=/config').style = 'background-color: #007BFF';
    document.getElementById('pag=/changepassword').style = 'background-color: #007Baa';
    document.getElementById('ulconfig').classList.add("menu-open");
  }
</script>

</body>
</html>
