<%- include("../partials/header"); %>
  <%- include("../partials/navbar"); %>

  <script>
    function verifyPassword(){
      var pass1 = document.getElementById("newPassword1");
      var pass2 = document.getElementById("newPassword2");
      if (pass1.value != pass2.value){
        document.getElementById("spanError").style.display = "block";
        pass1.value = "";
        pass2.value = "";
        return false;
      } else {
        document.getElementById("spanError").style.display = "none";
        return true;
      }
    }
  </script>

    <div class="content-wrapper">

      <!-- Main content -->
      <div class="content mt-2">
        <div class="container-fluid">
          <div class="col-md-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Alterar senha</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form method="POST" action="/admin/config/changepassword" onsubmit="return verifyPassword()">
                    <div class="card-body">
                      
                  <% if (msg !=undefined) { %>
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5>Alerta!</h5>
                        <%= msg %>
                    </div>
                    <% } %>
                      <div class="form-group">
                        <label for="oldPassword">Senha atual: </label>
                        <input type="password" minlength="8" class="form-control" id="oldPassword" placeholder="Senha atual"
                          name="oldPassword" required>
                      </div>
                      <div class="form-group">
                        <label for="newPassword1">Nova senha: </label>
                        <input type="password" minlength="8" class="form-control" id="newPassword1"
                          placeholder="Digite sua nova senha" name="newPassword" required>
                      </div>
                      <div class="form-group">
                        <label for="newPassword2">Repita sua senha: </label>
                        <input type="password" minlength="8" class="form-control" id="newPassword2" placeholder="Repita sua senha" required>
                      </div>

                      <span id="spanError" style="display: none;">Suas senhas precisam ser iguais!</span>

                    </div>

                    <!-- /.card-body -->

                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Alterar</button>
                    </div>
                  </form>
                </div>
                <!-- /.card -->



          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <%- include("../partials/footer"); %>