<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="/assets/images/logo.png" alt="Loja 1 Real logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Loja do 1 Real</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">Administrador</a>
        </div>
      </div>


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
            <li class="nav-item" id="pag=/home">
                <a href="/admin/home" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Inicio    
                  </p>
                </a>
              </li>

          <li class="nav-item" id="ulcategories">
            <a href="#" class="nav-link" id="pag=/categories">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Categorias
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" id="pag=/categorieslist">
                <a href="/admin/categories" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar</p>
                </a>
              </li>
              <li class="nav-item" id="pag=/categoriescreate">
                <a href="/admin/categories/create" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Criar</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item" id="ulproducts">
            <a href="#" class="nav-link" id="pag=/products">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Produtos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" id="pag=/productslist">
                <a href="/admin/products" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar</p>
                </a>
              </li>
              <li class="nav-item" id="pag=/productscreate">
                <a href="/admin/products/create" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Criar</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item" id="ulpartners">
            <a href="#" class="nav-link" id="pag=/partners">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Franqueados
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" id="pag=/partnerslist">
                <a href="/admin/partners" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar</p>
                </a>
              </li>
              <li class="nav-item" id="pag=/partnerscreate">
                <a href="/admin/partners/create" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Criar</p>
                </a>
              </li>   
            <li class="nav-item" id="pag=/partnersschedules">
              <a href="/admin/partners/schedules" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Agendamentos    
                </p>
              </a>
            </li>
            </ul>
            <li class="nav-item">
              <a href="/admin/logout" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sair</p>
              </a>
            </li>   
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
      
  <!-- /.navbar -->
    </div>
    <!-- /.sidebar -->
  </aside>